html {
  max-width: 100ch;
  padding: 2em 1em;
  margin: auto;
  /* font-family: monospace, monospace; */
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 1em
}

